@import url('../css/font/pacifico-font.css');
@import url('../css/font-awesome-4.7.0/css/font-awesome.min.css');
@import url('../css/font/fjalla-one-font.css');


:root {

    --primary-font-theme: ivymode, 'Times New Roman', Times, serif;
    --secondary-font-theme: collier, ivymode, 'Fjalla One', sans-serif;
    --third-font-theme: 'Fjalla One', sans-serif;

    --social-media-link1-content: 'Instagram';
    --social-media-link2-content: 'Whatsapp';
    --social-media-link3-content: 'Youtube';
    --social-media-link4-content: 'LinkedIn';
    --social-media-link1-bgcolor: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    --social-media-link2-bgcolor: linear-gradient(#25d366, #25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%, transparent 0);
    --social-media-link3-bgcolor: red;
    --social-media-link4-bgcolor: #0A66C2;
    --social-media-desktop-handler-bg-color: #7E846B;
    --social-media-desktop-handler-bg-color-hover: #D0DDD7;
    --social-media-desktop-handler-text-color: #682D63;
    --fixed-header-bg-color: #E9F1F7;
    --fixed-header-text-color: #51291E;


}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--primary-font-theme);
}

.title-icon {
    padding: 1px;
    background-color: var(--icon_bg_color);
    border-radius: 10px;
}

.title-icon img {
    max-width: 4rem;
}


.fixed-header {
    width: 100%;
    background-color: var(--fixed-header-bg-color);
    opacity: 0.8;
    height: 50px;
    position: absolute;
    top: -20vh;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    /** Horizontally Center */
    align-items: center;
    /** Vertically Center */
    box-shadow: 5px 5px 50px 2px #888888;
    transition: all 0.5s ease-in;
}

.fixed-header.active {
    top: 0;
    position: sticky;
    transition: all 0.5s ease-out;
}

.fixed-header h2 {
    font-size: 1.5rem;
    color: var(--fixed-header-text-color);
    font-family: var(--secondary-font-theme);
}


/* SocialMedia Links */
.social-link-for-desktop-link1:before {
    content: var(--social-media-link1-content);
}

.social-link-for-desktop-link2:before {
    content: var(--social-media-link2-content);
}

.social-link-for-desktop-link3:before {
    content: var(--social-media-link3-content);
}

.social-link-for-desktop-link4:before {
    content: var(--social-media-link4-content);
}

.social-link-for-desktop-link1 {
    font-size: 20px;
}

.social {
    position: fixed;
    top: 60%;
    z-index: 1;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 320px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #F1C40F;
    text-decoration: none;
}

.social ul li:hover i {
    color: #fff;
    background: red;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #000;
    padding: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}


.social-link-for-desktop {
    position: fixed;
    top: 60%;
    z-index: 3;
}

.social-link-for-desktop ul {
    padding: 0px;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

.social-link-for-desktop ul li {
    display: block;
    margin: 5px;
    background: var(--social-media-desktop-handler-bg-color);
    width: 320px;
    height: 50px;
    text-align: right;
    padding: 5px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social-link-for-desktop ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background-color: var(--social-media-desktop-handler-bg-color-hover);
}

.social-link-for-desktop ul li:hover a {
    color: var(--social-media-desktop-handler-text-color);
    text-decoration: none;
    font-weight: bolder;
}

.social-link-for-desktop ul li:hover i {
    color: #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social-li-link1:hover i {
    background: var(--social-media-link1-bgcolor);
    transition: all 1s;
}

.social-li-link2:hover i {
    background: var(--social-media-link2-bgcolor);
    transition: all 1s;
}

.social-li-link3:hover i {
    background-color: var(--social-media-link3-bgcolor);
    transition: all 1s;
}

.social-li-link4:hover i {
    background-color: var(--social-media-link4-bgcolor);
    transition: all 1s;
}

.social-link-for-desktop ul li i {
    margin-left: 10px;
    color: #000;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    text-align: center;
    padding: 7px;
}

.social-link-for-mobile-tab {
    display: none;
}

.social-link-for-mobile-tab-shareicon {
    position: fixed;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom right, #ffffff 39%, #626567 124%);
    top: 91%;
    margin-left: 40px;
    z-index: 21;
    text-align: center;
    overflow: hidden;
    line-height: 50px;
    font-size: 1.2em;
    color: #000;
    -moz-box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
    border-radius: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.4s ease 0s;

}

.social-link-for-mobile-tab-shareicon:hover {
    cursor: pointer;
    color: #154360;

}

.social-link-for-mobile-tab-shareicon i {
    transition: all 0.4s ease 0s;
}

.social-link-for-mobile-tab-shareicon i:hover {
    transform: rotate(360deg);

}

.social-link-for-mobile-tab-link1,
.social-link-for-mobile-tab-link2,
.social-link-for-mobile-tab-link3 {
    position: fixed;
    width: 50px;
    height: 50px;
    color: #000;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    top: 91%;
    margin-left: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, .2);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    z-index: 20;
    border: 4px solid white;
    box-shadow: 1px 1px 10px 2px #fff;
    transition: all 0.4s ease 0s;
    line-height: 40px;
    vertical-align: middle;
}

.social-link-for-mobile-tab-link1:hover,
.social-link-for-mobile-tab-link2:hover,
.social-link-for-mobile-tab-link3:hover {
    cursor: pointer;
}

.social-link-for-mobile-tab-link1 i,
.social-link-for-mobile-tab-link2 i,
.social-link-for-mobile-tab-link3 i {
    display: none;
}


.social-link-for-mobile-tab-link1 {
    background: var(--social-media-link1-bgcolor);

}

.social-link-for-mobile-tab-link2 {

    background: var(--social-media-link2-bgcolor);

}

.social-link-for-mobile-tab-link3 {
    background: var(--social-media-link3-bgcolor);
    ;
}


@media ((min-width: 1049px) and (max-width: 1400px)) {
    .title-icon img {
        max-width: 4rem;
    }
    .social-link-for-desktop ul li {
        height: 45px;
    }
    .social-link-for-desktop ul li i {
        width: 35px;
        height: 35px;
        padding: 5px;
    }
}

/** Responsive for common tablets, sometimes landscape */
@media ((min-width: 768px) and (max-width: 1048px)) {
/** Common properties */
.title-icon,
.menu-section {
    margin: 10px 0;
}

.title-icon img {
    max-width: 5rem;
}

.social-link-for-desktop {
    display: none;
}

.social-link-for-mobile-tab {
    display: block;
}
}

/** Responsive for common smartphones, sometimes landscape */
@media (max-width: 767px) {
    header {
        padding: 10px;
    }

    .title-icon,
    .menu-section {
        margin: 10px 0;
    }

    .title-icon img {
        max-width: 3rem;
    }

    .social-link-for-desktop {
        display: none;
    }

    .social-link-for-mobile-tab {
        display: block;
    }
}